{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{{titre}}
<br/>
<br/>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis doloribus nemo harum vero distinctio,
voluptates, amet laboriosam beatae magni quasi hic commodi nobis quod ut, illum eos laborum quisquam reiciendis 
dignissimos architecto. Officiis, dolor officia. Eaque velit dolores consequuntur nulla ipsum, cum facilis! Id pariatur,
iste omnis deleniti dicta aperiam nam beatae qui. Voluptas, dolorem. Voluptate cupiditate modi quas quibusdam, minima, 
amet minus adipisci facilis aperiam quam blanditiis optio. Reprehenderit eaque, non maxime veritatis voluptas, autem a 
veniam aperiam doloremque suscipit ut quod numquam placeat excepturi quas esse. Minima temporibus magnam quos, nobis qui 
saepe explicabo officiis sint soluta assumenda illo earum accusantium incidunt porro modi quaerat eveniet vero quod unde 
iste a quo, omnis tempora molestiae! Ea, dicta. Doloremque, autem aperiam? Qui eveniet exercitationem aliquid. Eius necessitatibus,
veniam nobis molestias harum totam nostrum enim!</p>


{% endblock %}
