{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{{titre}}
<br/>
<br/>
<p>1)Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, vel?</p>

<p>2)Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, vel?</p>

<p>3)Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, vel?</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium delectus nihil iure rem aspernatur 
libero vero assumenda consequuntur placeat quidem.</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium delectus nihil iure rem aspernatur 
libero vero assumenda consequuntur placeat quidem.</p>


{% endblock %}
